################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/CLI_RPG/.vs/CLI_RPG
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.tlog/CL.read.1.tlog
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.tlog/CL.write.1.tlog
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.tlog/CLI_RPG.lastbuildstate
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.tlog/link.read.1.tlog
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.ilk
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.log
/CLI_RPG/CLI_RPG/x64/Debug/CLI_RPG.obj
/CLI_RPG/CLI_RPG/x64/Debug/GameScene.obj
/CLI_RPG/CLI_RPG/x64/Debug/SceneManager.obj
/CLI_RPG/CLI_RPG/x64/Debug/TitleScene.obj
/CLI_RPG/CLI_RPG/x64/Debug/vc143.idb
/CLI_RPG/CLI_RPG/x64/Debug/vc143.pdb
/CLI_RPG/x64/Debug/CLI_RPG.exe
/CLI_RPG/x64/Debug/CLI_RPG.pdb
